<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
        <link href="@Url.Content("~/css/mvc-grid.css")" rel="stylesheet" type="text/css" />
    </environment>

    <environment names="Staging,Production">
    </environment>
</head>

<body>
    <div id="akc-component">
        @{
            var expandoDict = (IDictionary<string, object>)Model;
            var model = (ParserWebHelper)expandoDict["model"];
            var clippingData = model.parserClientContent.clippingData;
        }

        @(Html
            .Grid(clippingData)
            .Build(columns => {
                columns.Add(item => item.Author).Titled("Author");
                columns.Add(item => item.BookName).Titled("Book Name");
                columns.Add(item => item.ClippingType).Titled("ClippingType");
                columns.Add(item => item.DateAdded).Titled("Date Added");
                columns.Add(item => item.Location).Titled("Location");
                columns.Add(item => item.Text).Titled("Text");
            })
        .Filterable()
        .Sortable()
        .Pageable()
        )

        <link href="@Url.Content("~/css/mvc-grid.css")" rel="stylesheet" type="text/css" />
        <script src="/js/mvc-grid.js"></script>
        <script>$('.mvc-grid').mvcgrid();</script>
    </div>

</body>
</html>

    @*<table class="grid">
            <tr>
                <th>Look a this table, Morty!</th>
            </tr>
            @foreach (var myModel in Model) {
                    @foreach (var item in myModel.Value.parserClientContent.clippingData) {
                        <tr>
                            <td class="left">@item.Author</td>
                            <td class="left">@item.BookName</td>
                            <td class="left">@item.ClippingType</td>
                            <td class="left">@item.DateAdded</td>
                            <td class="left">@item.Location</td>
                            <td class="left">@item.Text</td>
                        </tr>
                    }
                }
        </table>*@
