<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/images/AmazingClip.ico" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - AKCWeb</title>

    <environment names="Development,Staging,Production">
        <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" /> 
        <link href="@Url.Content("~/css/mvc-grid.css")" rel="stylesheet" type="text/css" />

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/skel.min.js"></script>
        <script src="~/js/skel-viewport.min.js"></script>
        <script src="~/js/util.js"></script>
        <script src="~/js/main.js" type="text/javascript" ></script>
        <script src="~/js/mvc-grid.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    </environment>

</head>
<body>
    <div id="page-wrapper">
        <div id="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <header id="header">
                            <h1><a href="#" id="logo">Amazing Kindly Clipper 1.0</a></h1>
                            <nav id="nav">
                                <span>@Html.ActionLink("Home", "Index", "home", null, null)</span>
                                <span>@Html.ActionLink("Restart", "New", "home", null, null)</span>
                                <span>@Html.ActionLink("About", "Index", "about", null, null)</span>
                            </nav>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <div class="spinner"></div>
</body>
</html>
